@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    --prim: #141B41;
    --prim-l: #058ed9;
    --prim-d: #1B66C9;
    --sec: #00e5ff;
    --sec-l: #6effff;
    --sec-d: #00b2cc;

    --col-red: #f44336;
    --col-red-l: #ff7961;
    --col-red-d: #ba000d;
    --col-green: #4caf50;
    --col-green-l: #80e27e;
    --col-green-d: #338a3e;
    --col-white: #ede7f6;
    --col-white-l: #ffffff;
    --col-white-d: #bbb5c3;
    transition: all 0.2s linear;
}
body, html{
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    text-align: center;
    background-color: var(--prim-d);
    color: white;
    min-height: 4rem;

    position: relative;

}

header>div{
    background-color: var(--prim);
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    box-shadow: #0004 0px 8px 10px;
    /*border-radius: 0 0  1rem 1rem;*/
}

/*MAIN CONTENT */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    --vert-offset:1rem;
    height: 100%;
}
main > section{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

/* FORM SECTION*/

.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form{
    background-color: var(--prim-d);
    color: white;
    padding: 2rem 1rem 1rem;
    transition: all 0.2s linear;
}

.form> form{
    display: flex;
    flex-direction: column;
}

label[for="text"]{
    font-size: 1.5rem;
    pointer-events: none;
}

span.change {
    color: red;
}
span {
    color:black;
}

.entry-form > * {
    transition: all 0.2s linear;
    position: relative;
    background-color:white;
    border: none;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: #282A35;
}

.entry-form > *:hover {
    margin: 0.8rem 0;
    box-shadow: rgba(40, 40, 40, 0.8) 2px 6px 10px;

}

#text{
    flex-grow: 1;
    color: black;
    border: 2px solid transparent;

}
#text:focus{
    outline: none !important;
    border: 2px solid var(--sec-d);
}

div.pad{
    height: var(--vert-offset);
}

.form button{
    background-color: var(--sec);
    cursor: pointer;
}

/* RESULT SECTION*/

/* Button of the result section in 1x4 grid */
.result{
    background-color: var(--prim-d);
    color: white;
    padding: 2rem 1rem 1rem;
    transition: all 0.2s linear;
}

.result{
    background-color: var(--col-white);
    flex-grow: 1;
}

.result, .result *{
    transition: all 1s linear;
}

.result>div{
    position: relative;
    top: calc(-1 * var(--vert-offset));
    border-radius: 1rem 1rem 0 0;
    background-color: var(--col-white);
    padding: 1rem;
}
.result h2{
    font-weight: 400;
}
.result>div>*{
    background-color: var(--col-white);
    border: none;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
}
.result #result-text{
    display: none;
}
.result.change #result-text, .result.nochange #result-text, .result.loading #result-text{
    display: block;
}

#result-text{
    text-align: center;
    font-size: 0.3rem;
    padding: 2rem 0;
    margin: 1rem 0;
}
#result-subtext{
    text-align: center;
}

/* Changed */
.change.result, .change.result>div{
    background-color: white;

}
.change.result>div>*{
    background-color: white;

}
.change > div, .change{
    background-color: white;
}

@media screen and (min-width: 768px){
    body{
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    main{
        flex-direction: row;

    }
    main> section{
        width: 50%;
        max-height: inherit;
    }
    .form>form, .result>div{
        max-width: 450px;
        width: 100%;
    }
    .form{
        align-items: end;
    }
    .result {
        padding-right: 10vw;
    }
    .result>div{
        position: static;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }